/*
CSS RESET RULE
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.cardHighlight{
  min-height: 100%;
}

.no-decoration{
  text-decoration: none;
}

.card{
  height: 27rem !important;
}

.card-view{
  height: 100% !important;
}

.btn-buy{
  
}